
    <p-toast />
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '40rem' }">
        <ng-template #header>
            <div class="inline-flex items-center justify-center gap-2">
                <p-avatar icon="pi pi-user" class="mr-2" size="large"  shape="circle" />
                <span class="font-bold whitespace-nowrap">{{memberData?.fullName}}</span>
            </div>
        </ng-template>
        <span class="text-surface-500 dark:text-surface-400 block mb-8">Update your information.</span>
      <form #memberOrEditForm="ngForm"  class="formgrid grid">

        <div class="field col-12 md:col-6">
          <p-floatlabel variant="on">
            <p-iconfield>
              <p-inputicon class="pi pi-user" />
              <input pInputText id="fullName" name="fullName"  [(ngModel)]="memberData.fullName" #fullName="ngModel" pSize="large" required
                [class.ng-invalid]="fullName.invalid && (fullName.touched || memberOrEditForm.submitted)"autocomplete="off" />
                @if (fullName.invalid && (fullName.touched || memberOrEditForm.submitted)) {
                  <p-message severity="error" variant="simple">fullName is required.</p-message>
                }
            </p-iconfield>
            <label for="fullName">Ad Soyad</label>
          </p-floatlabel>
        </div>

        <div class="field col-12 md:col-6">
          <p-floatlabel variant="on">
            <p-iconfield>
              <p-inputicon class="pi pi-phone" />
              <input pInputText id="telephone" name="telephone"  [(ngModel)]="memberData.telephone" #telephone="ngModel" pSize="large" required
                [class.ng-invalid]="telephone.invalid && (telephone.touched || memberOrEditForm.submitted)"autocomplete="off" />
                @if (telephone.invalid && (telephone.touched || memberOrEditForm.submitted)) {
                  <p-message severity="error" variant="simple">telephone is required.</p-message>
                }
            </p-iconfield>
            <label for="telephone">Telefon</label>
          </p-floatlabel>
        </div>

        <div class="field col-12 md:col-6">
          <p-floatlabel variant="on">
              <p-iconfield>
                <p-inputicon class="pi pi-envelope" />
                <input pInputText id="email" name="email"  [(ngModel)]="memberData.email" #email="ngModel" pSize="large" email
                  [class.ng-invalid]="email.invalid && (email.touched || memberOrEditForm.submitted)"autocomplete="off" />
                  @if (email.invalid && (email.touched || memberOrEditForm.submitted)) {
                    <p-message severity="error" variant="simple">
                      @if (email.hasError('email')) {
                        Please enter a valid email.
                      }
                    </p-message>
                  }
              </p-iconfield>
              <label for="email">Email</label>
          </p-floatlabel>
        </div>

        <div class="field col-12 md:col-6">
          <p-floatlabel variant="on">
              <p-iconfield>
                <p-inputicon class="pi pi-id-card" />
                <input pInputText id="identificationNumber" name="identificationNumber"  [(ngModel)]="memberData.identificationNumber" #identificationNumber="ngModel" pSize="large"/>
              </p-iconfield>
              <label for="identificationNumber">Kimlik Numara</label>
          </p-floatlabel>
        </div>

        <div class="field col-12 md:col-6">
          <p-floatlabel variant="on">
            <p-iconfield>
              <p-inputicon class="pi pi-calendar" />
              <input pInputText id="dateOfBirth" name="dateOfBirth"  [(ngModel)]="memberData.dateOfBirth" #dateOfBirth="ngModel" pSize="large"/>
            </p-iconfield>
            <label for="dateOfBirth">Doğum Tarih</label>
          </p-floatlabel>
        </div>
        <!-- <div class=" col-offset-3"></div> -->

        <div class="field col-12 md:col-6">
          <app-component-role [model]="memberData.roleId"
            (roleSelected)="onRoleSelected($event)"></app-component-role>
        </div>


        <div class="field col-12 md:col-3">
          <app-component-country [model]="memberData.countryId" [isDisabled]="true"
            (countrySelected)="onCountrySelected($event)"></app-component-country>
        </div>

        @if (memberData.countryId == 1) {
          <div class="field col-12 md:col-3">
            <app-component-area [model]="memberData.areaId"
              (areaSelected)="onAreaSelected($event)"></app-component-area>
          </div>
        }

        <div class="field col-12 md:col-3">
          <app-component-province [model]="memberData.provinceId" [areaCode]="changeAreaCode" [isRequired]="true"
            (provinceSelected)="onProvinceSelected($event)"></app-component-province>
        </div>

        @if (memberData.countryId == 1 && (memberData.provinceId || changeProvinceCode)) {
          <div class="field col-12 md:col-3">
            <app-component-district [model]="memberData.districtId" [provinceCode]="changeProvinceCode" [firstProvinceCode]="memberData.provinceId" [isRequired]="true"
              (districtSelected)="onDistrictSelected($event)"></app-component-district>
          </div>
        }

        <div class="field col-12 md:col-6">
          <label for="isActive" class="mr-2">Aktif Durumu:</label>
          <p-toggleswitch id="isActive" name="isActive" [(ngModel)]="memberData.isActive" />
        </div>

        </form>
        <ng-template #footer>
            <p-button label="Cancel" [text]="true" severity="secondary" [raised]="true" severity="danger" (click)="onCancel(memberOrEditForm)" />
            <p-button label="Save" [outlined]="true" severity="secondary" [raised]="true" severity="success" icon="pi pi-check" iconPos="left" (click)="onSave(memberOrEditForm)" />
        </ng-template>
    </p-dialog>

