<p-toast />
<p-confirmdialog />

@if (isLoading) {
  <div class="global-loading-overlay">
    <div class="loading-content">
      <p-progressSpinner></p-progressSpinner>
      <p>Mesajlar gönderiliyor...</p>
    </div>
  </div>
}

<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '40rem' }">
    <ng-template #header>
        <span class="text-surface-500 dark:text-surface-400 block mb-1">Mesaj Gönder</span>
    </ng-template>
    <form #sendMessageForm="ngForm" class="flex flex-col gap-4 mt-2">
      <div class="card flex justify-center">
        <p-floatlabel variant="on">
          <textarea
            rows="5"
            cols="70"
            id="content"
            name="content"
            [(ngModel)]="content"
            required
            #contentRef="ngModel"
            pTextarea
            [class.ng-invalid]="contentRef.invalid && (contentRef.touched || sendMessageForm.submitted)">
          </textarea>
          <label for="content">Mesaj</label>

          @if (contentRef.invalid && (contentRef.touched || sendMessageForm.submitted)) {
            <p-message severity="error" size="small" variant="simple">Mesaj alanı zorunludur</p-message>
          }
        </p-floatlabel>
      </div>
    </form>
    <ng-template #footer>
        <p-button label="İptal" [text]="true" severity="secondary" [raised]="true" severity="danger" (click)="onCancel(sendMessageForm)" />
        <p-button label="Gönder" [outlined]="true" severity="secondary" [raised]="true" severity="success" icon="pi pi-check" iconPos="left" (click)="onSent(sendMessageForm)" />
    </ng-template>
</p-dialog>

