<div class="flex justify-content-center flex-wrap">
  <p-toast />
    <p-confirmdialog />

      <div class="toolbar-container">
        <h2>Kullanıcı Sayfası/Toolbar Filtreleme Alanı</h2>
        <div class="toolbar-row">
          <app-component-country (countrySelected)="onCountrySelected($event)" (countrySelectedName)="onCountrySelectedName($event)" [model]="1">
          </app-component-country>
          @if (selectedCountry == 1) {
            <app-component-area (areaSelected)="onAreaSelected($event)" (areaSelectedName)="onAreaSelectedName($event)"></app-component-area>
          }

          <app-component-province [countryCode]="selectedCountry" [areaCode]="selectedArea"
            (provinceSelected)="onProvinceSelected($event)" (provinceSelectedName)="onProvinceSelectedName($event)"></app-component-province>

          <app-component-role (roleSelected)="onRoleSelected($event)"></app-component-role>

          <p-button
            pButton
            type="button"
            label="Yeni Kullanıcı"
            icon="pi pi-plus"
            (click)="onAdd()"
            [disabled]="isLoading">
          </p-button>
        </div>
      </div>


      @if (isLoading) {
        <div class="global-loading-overlay">
          <div class="loading-content">
            <p-progressSpinner></p-progressSpinner>
            <p>Veriler yükleniyor...</p>
          </div>
        </div>
      } @else {
        <div class="card">
          <p-table
            #dt
            [value]="resultData"
            [columns]="cols"
            [paginator]="true"
            [rows]="25"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Gösterilen: {first} - {last} / Toplam: {totalRecords}"
            [globalFilterFields]="['fullName', 'telephone', 'email', 'provinceName']">

            <ng-template #caption>
              <div class="flex align-items-center">
                <span class="table-title">Aktif Üyeler ({{ resultData.length }})</span>

                <p-iconfield iconPosition="left" class="flex ml-auto mr-2">
                  <p-inputicon class="pi pi-search" />
                  <input pInputText id="on_label" (ngModelChange)="onSearchChange($event)"  [(ngModel)]="searchFullName" pSize="large" placeholder="Kullanıcı Ara..." autocomplete="off" />
                </p-iconfield>

                <p-button icon="pi pi-refresh" class="mr-1" icon="pi pi-refresh" (click)="refreshData()" [disabled]="isLoading" pTooltip="Yenile" tooltipPosition="top" rounded raised />

                @if (false) {
                  <app-component-speedDial [pdfTitle]="pdfTitle" [valueData]="sendValueData" [pdfColumns]="pdfTableColumns" [type]="1">
                  </app-component-speedDial>
                }
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>İşlemler</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  @switch (col.field) {
                    @case ('createdDate') {
                      {{ rowData[col.field] | formatDate }}
                    }
                    @case ('updateDate') {
                      {{ rowData[col.field] | formatDate }}
                    }

                    @default {
                      {{ rowData[col.field] || '-' }}
                    }
                  }
                </td>
                <td>
                  <div class="flex justify-center">
                      <p-button (click)="onDelete(rowData.id, rowData.roleId)" icon="pi pi-trash" [raised]="true" class="mr-1" severity="danger" pTooltip="Sil" tooltipPosition="top" />
                      <p-button (click)="onEdit(rowData)" icon="pi pi-pencil" [raised]="true" severity="warn" pTooltip="Güncelle" tooltipPosition="top" />
                  </div>
                </td>
              </tr>
            </ng-template>

          </p-table>
        </div>
      }
</div>
<app-component-userEdit (onSaveSuccess)="refreshData()"></app-component-userEdit>
<app-component-userAdd (onSaveSuccess)="refreshData()"></app-component-userAdd>
