<p-toast />
<div class="card flex justify-center">
  <form #exampleForm="ngForm" (ngSubmit)="onSubmit(exampleForm)" class="flex flex-col gap-4 w-full sm:w-56">
    <div class="flex flex-col gap-1">
      <input pInputText type="email" id="email" placeholder="email" name="email" [(ngModel)]="user.email" #email="ngModel" required email
        [class.ng-invalid]="email.invalid && (email.touched || exampleForm.submitted)" />

        @if (email.invalid && (email.touched || exampleForm.submitted)) {
          <p-message severity="error" variant="simple">
            @if (email.hasError('required')) {
              Email is Required.
            }
            @if (email.hasError('email')) {
              Please enter a valid email.
            }
          </p-message>
        }
    </div>

    <div class="flex flex-col gap-1">
      <input pInputText type="password" id="password" name="password" placeholder="password" [(ngModel)]="user.password" #password="ngModel" required password
        [class.ng-invalid]="password.invalid && (password.touched || exampleForm.submitted)" />

        @if (password.invalid && (password.touched || exampleForm.submitted)) {
          <p-message severity="error" variant="simple">password is required.</p-message>
        }
    </div>

    <button pButton severity="secondary" type="submit" [disabled]="isLoading">
      <span pButtonLabel>{{ isLoading ? 'Giriş yapılıyor...' : 'Giriş' }}</span>
    </button>
  </form>
</div>
