<p-toast />
<div class="flex justify-content-center align-items-center min-h-screen">
  <div class="card p-4" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">Giriş Yap</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="flex flex-column gap-3">
      <div class="flex flex-column gap-1">
        <input pInputText type="email" id="email" placeholder="Email" pSize="large" name="email"
          [(ngModel)]="user.email" #email="ngModel" required email
          [class.ng-invalid]="email.invalid && (email.touched || loginForm.submitted)"
          class="w-full" />

        @if (email.invalid && (email.touched || loginForm.submitted)) {
          <p-message severity="error" size="small" variant="simple" class="mt-1">
            @if (email.hasError('required')) {
              Email zorunludur.
            }
            @if (email.hasError('email')) {
              Geçerli bir email adresi giriniz.
            }
          </p-message>
        }
      </div>

      <div class="flex flex-column gap-1">
        <input pInputText type="password" id="password" name="password" placeholder="Şifre" pSize="large"
          [(ngModel)]="user.password" #password="ngModel" required password
          [class.ng-invalid]="password.invalid && (password.touched || loginForm.submitted)"
          class="w-full" />

        @if (password.invalid && (password.touched || loginForm.submitted)) {
          <p-message severity="error" size="small" variant="simple" class="mt-1">
            Şifre zorunludur.
          </p-message>
        }
      </div>

      <button pButton type="submit" label="Giriş Yap" [disabled]="isLoading" class="mt-3">
        @if (isLoading) {
          <i class="pi pi-spinner pi-spin mr-2"></i>
        }
      </button>
    </form>
  </div>
</div>
