<p-toast />

<div class="home-container">
  <div class="layout-grid">
    <!-- Left Sidebar (Column-4) -->
    <div class="sidebar">
      <div class="sidebar-content">
        <h3>Menü Seçimi</h3>
        <p-listbox
          [options]="pages"
          (onChange)="onPageSelect($event.value)"
          optionLabel="name"
          class="w-full" />
      </div>
    </div>

    <!-- Main Content Area (Column-8) -->
    <div class="main-content">
      <div class="header-section">
        <h2>Duyurular</h2>

      </div>
    </div>
  </div>
</div>
