<div class="flex justify-content-center flex-wrap">
  <p-toast />
    <p-confirmdialog />

      <div class="toolbar-container">
        <h2>Üye Sayfası/Toolbar Filtreleme Alanı</h2>
        <div class="toolbar-row">
          <app-component-country (countrySelected)="onCountrySelected($event)" (countrySelectedName)="onCountrySelectedName($event)" [isRequired]="true">
          </app-component-country>
          @if (selectedCountry == 1) {
            <app-component-area (areaSelected)="onAreaSelected($event)" (areaSelectedName)="onAreaSelectedName($event)" [isRequired]="true"></app-component-area>
          }
          <app-component-province [countryCode]="selectedCountry" [areaCode]="selectedArea" (provinceSelectedName)="onProvinceSelectedName($event)"
            (provinceSelected)="onProvinceSelected($event)"></app-component-province>

          <p-button icon="pi pi-refresh" class="mr-1" icon="pi pi-refresh" (click)="refreshData()"
            [disabled]="isLoading" label="Filtrele" rounded raised />

          <p-button
            pButton
            type="button"
            label="Yeni Üye"
            icon="pi pi-plus"
            (click)="onAdd()"
            [disabled]="isLoading">
          </p-button>
        </div>
      </div>

      @if (isLoading) {
        <div class="global-loading-overlay">
          <div class="loading-content">
            <p-progressSpinner></p-progressSpinner>
            <p>Veriler yükleniyor...</p>
          </div>
        </div>
      } @else {
        <div class="announcements-section">
          <p-table
            #dt
            [value]="resultData"
            [columns]="cols"
            [paginator]="true"
            [rows]="20"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Gösterilen: {first} - {last} / Toplam: {totalRecords}"
            [globalFilterFields]="['fullName', 'telephone', 'email', 'provinceName']">

            <ng-template #caption>
              <div class="flex align-items-center">
                <span class="table-title">Aktif Üyeler ({{ resultData.length }})</span>

                <p-iconfield iconPosition="left" class="flex ml-auto mr-2">
                  <p-inputicon class="pi pi-search" />
                  <input pInputText id="on_label" [(ngModel)]="searchName" placeholder="(Ad veya telefon)Ara..." pSize="large" autocomplete="off" />
                </p-iconfield>

                <app-component-speedDial
                  [pdfTitle]="pdfTitle"
                  [excelColumns]="excelTableColumns"
                  [valueData]="sendValueData"
                  [pdfColumns]="pdfTableColumns"
                  [type]="2"
                  >
                </app-component-speedDial>
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>İşlemler</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  @switch (col.field) {
                    @case ('createdDate') {
                      {{ rowData[col.field] | formatDate }}
                    }
                    @case ('updateDate') {
                      {{ rowData[col.field] | formatDate }}
                    }

                    @case ('isSms') {
                      {{rowData[col.field] ? "Evet" : "Hayır" }}
                    }

                    @case ('isMail') {
                      {{rowData[col.field] ? "Evet" : "Hayır" }}
                    }
                    @case ('email') {
                      {{ rowData[col.field]?.length > 20 ? rowData[col.field].substring(0, 20) + "..." : rowData[col.field] }}
                    }

                    @default {
                      {{ rowData[col.field] || '-' }}
                    }
                  }
                </td>
                <td>
                  <div class="flex justify-center">
                      <p-button (click)="onDelete(rowData.id)" icon="pi pi-trash" [raised]="true" class="mr-1" severity="danger" pTooltip="Sil" tooltipPosition="top" />
                      <p-button (click)="onEdit(rowData)" icon="pi pi-pencil" [raised]="true" severity="warn" pTooltip="Güncelle" tooltipPosition="top" />
                  </div>
                </td>
              </tr>
            </ng-template>

          </p-table>
        </div>
      }
</div>
<app-component-memberEdit (onSaveSuccess)="refreshData()"></app-component-memberEdit>
<app-component-memberAdd (onSaveSuccess)="refreshData()"></app-component-memberAdd>
